section {
  background-image: url(../hw4_img/backgraund.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 787px;
  max-width: 100%;
  margin: 0px;
  font-family: "Verdana";
  color: white;
}
.header_fon {
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  font-weight: bold;
  display: flex;
  margin-left: 82px;
  font-size: 20px;
  color: white;
}
.name:hover {
  color: #3cb878;
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 75px;
}
.icons {
  display: flex;
  width: 180px;
  height: 50px;
  margin-right: 15px;
}
a.icon {
  background-image: url(../hw4_img/icons.png);
  background-repeat: no-repeat;
  height: 50px;
  width: 60px;
}
a.icon:hover {
  background-image: url(../hw4_img/hover.png);
  background-repeat: no-repeat;
}
.calendar {
  background-position: left top;
}
.forum {
  background-position: -60px 0px;
}
.journey {
  background-position: -120px 0px;
}
.welcome {
  justify-content: right;
  font-size: 14px;
}
a.log {
  color: #3cb878;
}
a.log:hover {
  text-decoration: underline;
}
a.sign {
  color: #3cb878;
}
a.sign:hover {
  text-decoration: underline;
}
