@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
section {
    font-family: Arimo;
    background-color: #3a4965;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-transform: uppercase; 
}
table {
    border-collapse: collapse;
    box-shadow: 0 0 4px rgb(0 0 0 / 50%);
}
thead {
    background-color: #fafafa;
}
.title {
    font-size: 24px;
    color: #ffff;
    font-weight: bold;
}
.title-head-1 {
    font-size: 18px;
    font-weight: bold;
    color: #484848;
}
.title-head-2 {
    font-size: 30px;
}
.price {
    color: #484848;
    padding: 10px 30px;
}
.price-1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    font-weight: bold;
    font-size: 60px;
}
.price-2 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.cents {
    font-size: 24px;
    font-weight: bold;
}
.price-3 {
    font-size: 18px;
}
.title-green, .but-green {
    background-color: #89c331;
}
.title-red, .but-red {
    background-color: #f04a56;
}
.title-blue, .but-blue {
    background-color: #20807c;
}
tbody {
    color: #848484;
    font-size: 16px;
}
i {
    font-size: 24px;
    padding-right: 15px;
}
.light {
    background-color: #f2f2f2;
}
.dark {
    background-color: #e3e3e3;
}
.bg-grey-1 {
    background-color: #dddddd;
}
.bg-grey-2 {
    background-color: #eeeeee;
}
.bg-grey-3 {
    background-color: #f4f4f4;

}
button {
    height: 47px;
    width: 188px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover {
    background-color: #fafafa;
    color: #484848;
    border: 1px solid #484848;
}
.but-grey {
    background-color: #484848;
}
td {
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.box-shadow::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    width: 1px;
    left: -1px;
    box-shadow: 0 0 4px rgb(0 0 0 / 50%);
}
.box-shadow-right::before {
    left: 100%;
}