@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


body {
    color: #424f57;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.header {
    display: flex;
    align-items: center;
    background: no-repeat center / cover url(../img/bg1.jpg);
    height: 44rem;
    width: 100vw;
    clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
}
.header__body {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__top {
    position: absolute;
    z-index: 2;
    height: 5rem;
    width: 100%;
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #424f57;
    font-size: 2.25rem;
}
.logo__blue {
    color: #14afca;
    font-weight: bold;
    text-transform: uppercase;
}
.header__menu {
    display: flex;
    align-items: center;
}
.menu__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.25rem;
    row-gap: 0.3rem;
    align-items: center;
}
.menu__item {
    margin-left: 3.75rem;
}
.menu__link {
    color: #424f57;
    font-weight: bold;
    font-size: 0.94rem;
    text-transform: uppercase;
    transition: color 0.2s ease;
}
.menu__link:active,
.menu__link:hover,
.menu__link:target {
    color: #14afca;
}
a:focus {
    outline: none;
    color: #14afca;
}
.header__title {
    color: #ffff;
    top: 18.75rem;
    position: absolute;
    font-weight: bold;
    font-size: 3.25rem;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
}
.title {
    color: #14afca;
    font-weight: bold;
    font-size: 3.75rem;
    text-align: center;
    text-transform: uppercase;
}
.about {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
}
.about__title {
    margin-top: 6.25rem;
}
.about__subtitle {
    margin-top: 1.875rem;
}
.subtitle {
    font-weight: 600;
    font-size: 1.125rem;
    text-align: center;
}
.about__text {
    margin: 2.8rem auto;
    width: 70%;
}
.text {
    line-height: 2;
    text-align: center;
}
.clients {
    background: no-repeat center / cover url(../img/bg2.jpg);
    height: 45rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path:polygon(50% 10%, 100% 0, 100% 87%, 50% 95%, 0 87%, 0% 0%);
}
.clients__body {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.clients__title {
    margin-top: 3.125rem;
}
.clients__subtitle {
    margin: 1.5625rem 0;
    color: #ffff;
}
.clients__container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 4rem; 
    width: 100%;
    max-width: 1280px;
    margin: 0 5rem 5rem 5rem;
}
.clients__container > img {
    width: 10rem;
    height: auto;
}
.meet {
    background-color: white;
    height: 40rem;
    width: 100%;
    margin: 2rem 7rem;
}
.meet__title {
    margin-bottom: 1.5rem;
}
.meet__subtitle {
    margin-bottom: 3rem;
}
.meet__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0 5%;
}
.intro-emploee {
    display: grid;
    grid-auto-columns: 2fr 1fr;
    align-content: center;
    justify-items: center;
}
.intro-emploee__card {
    margin-bottom: 2rem;
}
.intro-emploee__discarb {
    max-width: 18rem;
    text-align: center;
    line-height: 2rem;
}
.testimonails {
    background: no-repeat center / cover url(../img/bg3.jpg);
    height: 40rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    clip-path: polygon(50% 10%, 100% 0, 100% 87%, 50% 95%, 0 87%, 0% 0%);
}
.testimonails-body {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonails__subtitle {
    margin: 1.25rem auto;
}
.testimonails__quote {
    margin: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.quote {
    max-width: 55rem;
    line-height: 1.75rem;
    text-align: center;
}
.author {
    font-weight: 700;
    font-style: italic;
    margin: 1.5625rem;
}
.why {
    margin: 6.25rem;
}
.why__title {
    margin-bottom: 1.25rem;
}
.why__subtitle {
    margin-bottom: 3.125rem;
}
.why__formula {
    max-width: 60rem;
    font-size: 1.875rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3rem;
    text-align: center;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.25rem;
}
/* адаптив */
/* 400px */
@media (max-width: 25rem) {

}

/* 500px */
 @media (max-width: 31.25rem) {
    .header__top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 0;
        gap: .625rem;
    }
    .header__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #424f57;
        font-size: 1.5rem;
    }    
}
@media (max-width: 35rem) {
    .menu__list {
        row-gap: 0.8rem;
        column-gap: 2rem;
        justify-content: center;
    }
    .menu__item {
        margin-left: 0.5rem;
    }
    .menu__link {
        font-weight: 400;
    }
    .clients {
        height: auto;
    }
    .clients__container {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem; 
    }
    .clients__container > img {
        width: 8rem;
        height: auto;
    }
    .title {
        font-size: 2.75rem;
    }
    .why {
        margin: 3rem;
    }
}
/* 770px */
@media (max-width: 769px) {
    .header__title {
        top: 20rem;  
        font-size: 2.5rem;
    }
    .clients__container {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 3rem; 
    }
    .meet__row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
        gap: 0.5rem;
        margin: 0;
    }
    .meet {
        height: auto;        
    }
}