/*reset style*/
*,
*::after,
*::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li,
ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html,
body {
    height: 100%;
    line-height: 1;
}

textarea,
button,
input {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

button {
    cursor: pointer;
    background-color: inherit;
}